@model CodeSubmitModel
@{
    IEnumerable<SelectListItem> langs = ViewBag.Language;
    string DisplayMessage = ViewBag.DisplayMessage;
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Submit Code</h2>
    <h5>@ViewData["ProblemId"]# @ViewData["ProblemTitle"]</h5>

    @if (DisplayMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @DisplayMessage
        </div>
    }

    <script src="~/static/ace/ace.js"></script>
    <form asp-action="Submit" asp-route-pid="@ViewData["ProblemId"]" method="post">
        <input type="hidden" asp-for="ProblemId" />
        <div class="form-group">
            <label asp-for="Language"></label>
            <select class="form-control" id="langsel" asp-for="Language" asp-items="langs"></select>
        </div>
        <div class="form-group">
            <label asp-for="Code"></label>
            <textarea id="codearea" asp-for="Code" hidden="hidden"></textarea>
            <div id="editor0" class="form-control"></div>
        </div>
        <div class="form-group">
            <input class="btn btn-success" name="submit" type="submit" value=" Submit " />
        </div>
    </form>
</div>

<script>
    var editor0 = ace.edit("editor0");
    editor0.setOptions({ maxLines: Infinity, minLines: 20 });
    editor0.setTheme("ace/theme/eclipse");
    editor0.session.setMode("ace/mode/c_cpp");
    editor0.session.on('change', function () {
        $('#codearea').val(editor0.session.getValue());
    });

    function setEditorMode(lang) {
        editor0.session.setMode({ path: lang, v: Date.now() });
    }

    var langlist = ["", "c_cpp", "c_cpp", "java", "python", "python",
        "pascal", "csharp", "kotlin", "haskell", "perl", "fortran"];

    $('#langsel').on('change', function () {
        setEditorMode("ace/mode/" + langlist[$(this).val()]);
    });
</script>