@model IEnumerable<JuryListSubmissionModel>
@{
    ViewData["Title"] = "Submission";
    bool inajax = ViewData.ContainsKey("InAjax");
    if (inajax) { Layout = null; }
}

@section Header {
    <h2 class="mt-3">Submissions</h2>
    <p style="font-size:1.1em">
        Show submissions:
        <a asp-action="Submission" asp-route-all="false">newest</a>
        |
        <a asp-action="Submission" asp-route-all="true">all</a>
    </p>
}

<partial name="_Submissions" model="Model" />
