<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/yang-er/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="670171961@qq.com" />
      <add key="ClearTextPassword" value="9e18a9fb836225a072e5a7ce14f72c08775759ae" />
    </github>
  </packageSourceCredentials>
</configuration>