@model StudentVerifyModel
@{
    ViewData["Title"] = "Student Verify";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
@{ TempData["StatusMessage"] = null; }
<div asp-show-if="Model.IsEmailConfirmed" class="alert alert-primary" role="alert">
    You are now verified student.
</div>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StudentId"></label>
        <input asp-for="StudentId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <button asp-show-if="Model.Email != null && !Model.IsEmailConfirmed" asp-action="SendStudentEmail" class="btn btn-link">Send verification email</button>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button asp-show-if="!Model.IsEmailConfirmed" type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
