@using Microsoft.AspNetCore.Identity
@using JudgeWeb.Data;

@inject SignInManager<User> SignInManager
@inject UserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" active-area="Account" id="bd-user" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">@UserManager.GetNickName(User)</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-user">
                <a class="dropdown-item" asp-area="Account" asp-controller="Manage" asp-action="Index">Profile</a>
                @if (User.IsInRole("Administrator"))
                {
                    <a class="dropdown-item" asp-area="Judge" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                }

                <form asp-area="Account" asp-controller="Sign" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item" style="cursor:pointer">Logout</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link mr-md-2" id="bd-user" data-toggle="ajaxWindow" data-target="login" asp-area="Account" asp-controller="Sign" asp-action="Login">Login</a>
        </li>
    </ul>
}