<a class="navbar-brand mr-0 mr-md-2" aria-label="AcmXylabFun" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none d-md-block" viewBox="0 0 35 45.93" focusable="false" width="28" height="36">
        <title>acmicpc</title>
            <path fill="currentColor" d="M29,53.53H31.4v1H29v-1Zm-2.15-1.76h6.85v1H26.87v-1Zm0-1.76h6.85v1H26.87V50Zm0-1.87h6.8v1h-6.8v-1Zm14.61,11.1a4.71,4.71,0,0,0,5-4.36V37.05A4.79,4.79,0,0,0,42,32.75H40.29a10.21,10.21,0,0,1-1.71,5.82,9.09,9.09,0,0,1-1.81,2,7.34,7.34,0,0,1-2.37,1.37l-.72,5.15H26.76L26,41.93a9,9,0,0,1-4.31-3.37,11.48,11.48,0,0,1-1.83-5.81h-2.1A4.74,4.74,0,0,0,13.33,37V55.12a6.72,6.72,0,0,0,.57,1.7,5.27,5.27,0,0,0,1,1.23,4.62,4.62,0,0,0,3.27,1.2Z" transform="translate(-12.82 -13.32)"/>
            <path fill="currentColor" d="M28.8,34.73l4.76,1.42,0,.08L30,37.89,32.87,39c-.26.39-2,1.66-2,1.93v5.21H32.7l.63-5a10.06,10.06,0,0,0,2.22-1.18,9.63,9.63,0,0,0,1.69-1.77A10.81,10.81,0,0,0,39,33v-.28H30.83a13.25,13.25,0,0,0-2,2Z" transform="translate(-12.82 -13.32)"/>
            <path fill="currentColor" d="M27.15,41.19l.68,4.93H29.7V40.56c0-.27,1.16-1,1.24-1.28L27,38.18V38.1l3.44-1.56v-.08l-3.8-1.23,2.45-2.48H21.26a9.46,9.46,0,0,0,1.79,5.35,9,9,0,0,0,4.1,3.09Z" transform="translate(-12.82 -13.32)"/>
            <path fill="currentColor" d="M37.29,24.88a3.69,3.69,0,0,0,.79.85s6.35-5.64,6.63-6.06l-.8-.84c-.53.36-6.63,6-6.63,6.06Z" transform="translate(-12.82 -13.32)"/>
            <path fill="currentColor" d="M33.68,23l1.18.36a21.45,21.45,0,0,1,.79-2c.27-.68.53-1.36.8-2,.16-.39,1.59-4,1.59-4.08s-1-.47-1.1-.5L33.68,23Z" transform="translate(-12.82 -13.32)"/>
            <polygon fill="currentColor" points="16.54 8.95 17.73 8.95 17.73 0 16.54 0 16.54 8.95 16.54 8.95"/>
            <path fill="currentColor" d="M15.88,20l6.48,5.8.77-.93C23,24.65,20.3,22.3,19.93,22s-3.1-2.87-3.19-2.87-.76.72-.85.85Z" transform="translate(-12.82 -13.32)"/>
            <path fill="currentColor" d="M39.78,28.27c0,.18.39.74.46,1l7.58-3.76a3.8,3.8,0,0,0-.57-1.08c-.15,0-3.33,1.64-3.76,1.85a36.76,36.76,0,0,0-3.72,1.94Z" transform="translate(-12.82 -13.32)"/>
            <polygon fill="currentColor" points="9.23 1.98 12.58 9.93 13.73 9.45 10.31 1.53 9.23 1.98 9.23 1.98"/>
            <path fill="currentColor" d="M12.82,25.84c0,.12,3.18,1.65,3.55,1.83.69.34,3.11,1.67,3.62,1.78l.53-1.07-7.25-3.57c-.06.27-.45.84-.45,1Z" transform="translate(-12.82 -13.32)"/>
    </svg>
    <span class="d-block d-md-none">Online Judge</span>
</a>