@using JudgeWeb.Areas.Misc.Models
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    if (ViewData.ContainsKey("InAjax")) { Layout = null; }
}
<if cond="@ViewData.ContainsKey("InAjax")">
An error occurred while processing your request.
If you want to help us fix this problem, please contact XiaoYang.
</if>
<if cond="@(!ViewData.ContainsKey("InAjax"))">
    <div class="container-fluid mt-4 mb-4 pl-4 pr-4">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <h3>Development Mode</h3>
        <p>
            Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
        </p>
        <p>
            <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
        </p>

        <h3>More Information</h3>
        <p>
            If you want to help us fix this problem, please contact author by <a href="mailto:i@yang-er.com">his email</a>.
        </p>
    </div>
</if>