@model IEnumerable<string>
@{
    ViewData["Title"] = "Media";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <h2>Media</h2>
    <h5 class="mb-3"><a href="#" data-toggle="modal" data-target="#modal-upload">Upload</a> images for problems</h5>

    <div class="table-wrapper">
        <table class="data-table table table-sm table-striped" style="width:auto">
            <thead class="">
                <tr>
                    <th scope="col">file name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td><a href="@file.Replace("wwwroot", "")">@file</a></td>
                    </tr>
                }
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td>No data avaliable.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form asp-action="Images" enctype="multipart/form-data" method="post" onsubmit="ajaxpost(this,'upload2','upload');return false">
    <div class="modal fade" id="modal-upload" tabindex="-1" role="dialog" aria-labelledby="modal-upload-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-upload-label">Upload media</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="file">File</label>
                        <div class="custom-file">
                            <input type="file" name="file" id="file" class="custom-file-input">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="upload-progress"><div></div></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Begin</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="~/static/css/dataTables.bootstrap4.min.css" />
}