<ul class="navbar-nav mr-auto">
    <li asp-in-roles="Administrator" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownJudgehosts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-gavel"></i> Judgings
            <span class="badge badge-warning" id="num-alerts-judgehosts"></span>
            <span class="badge badge-danger" id="num-alerts-internalerrors"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="Dashboard" asp-action="List" asp-controller="Judgehosts" id="menu_judgehosts">
                <i class="fas fa-server fa-fw"></i> judgehosts <span class="badge badge-warning" id="num-alerts-judgehosts-sub"></span>
            </a>
            <a class="dropdown-item disabled" asp-area="Dashboard" asp-action="List" asp-controller="InternalErrors" id="menu_internal_error">
                <i class="fas fa-bolt fa-fw"></i> internal error <span class="badge badge-danger" id="num-alerts-internalerrors-sub"></span>
            </a>
        </div>
    </li>

    <li asp-in-roles="Administrator,Teacher" class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Contests" asp-action="List">
            <i class="fas fa-trophy"></i> Contests
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Root" asp-action="List">
            <i class="fas fa-book-open"></i> Problems
        </a>
    </li>
    
    <li asp-in-roles="Teacher" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStudents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-graduation-cap"></i> Schools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownStudents">
            <a class="dropdown-item" asp-action="List" asp-controller="Students" asp-area="Dashboard">
                <i class="fas fa-user-graduate fa-fw"></i> students
            </a>
            <a class="dropdown-item" asp-action="List" asp-controller="Groups" asp-area="Dashboard">
                <i class="fas fa-school fa-fw"></i> teaching classes
            </a>
        </div>
    </li>
    
    <li asp-in-roles="Administrator" class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="Users" asp-action="List">
            <i class="fas fa-address-card"></i> Users
        </a>
    </li>

    <li asp-in-roles="Administrator" class="nav-item">
        <a class="nav-link" asp-area="Dashboard" asp-controller="News" asp-action="List">
            <i class="fab fa-markdown"></i> News
        </a>
    </li>
</ul>

<ul class="navbar-nav">
    <li class="ajax-loader-container">
        <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> @User.GetUserName()
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="#">@User.GetNickName()</a>

            <a asp-viewdata-key="RefreshSpan" class="dropdown-item" href="#" id="refresh-navitem">
                <i class="fas fa-sync-alt fa-fw"></i>
                <span id="refresh-toggle">
                    Disable Refresh
                </span>
                <span class="small text-muted">(@ViewData["RefreshSpan"]s)</span>
            </a>
            
            <a class="dropdown-item" asp-area="Misc" asp-controller="Home" asp-action="Index">
                <i class="fas fa-sign-out-alt fa-fw"></i> Back to main site
            </a>
        </div>
    </li>
</ul>