@inject UserManager UserManager
@{
    Contest cts = ViewBag.Contest;
    Team team = ViewBag.Team;
    bool disabled_ = cts.GetState() < ContestState.Started || team == null || team.Status != 1;
    disabled_ = disabled_ && !User.IsInRoles($"Administrator,JuryOfContest{cts.ContestId}");
    string disableClass = disabled_ ? "disabled" : "";
}

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" active-act="Home,ProblemView" asp-action="Home">
            <i class="fas fa-book-open"></i>
            Problems
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-act="Submissions" asp-action="Submissions">
            <i class="fas fa-file-code"></i>
            Status
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-act="Scoreboard" asp-action="Scoreboard">
            <i class="fas fa-list-ol"></i>
            Standings
        </a>
    </li>

    <viewmodule key="IsJury">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Jury" asp-action="Home">
                <i class="fas fa-arrow-right"></i>
                Jury
            </a>
        </li>
    </viewmodule>
</ul>

<ul class="navbar-nav">
    <li class="ajax-loader-container">
        <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> @UserManager.GetUserName(User)
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="#">@UserManager.GetNickName(User)</a>

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>

            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            <viewmodule key="RefreshSpan">
                <a class="dropdown-item" href="#" id="refresh-navitem">
                    <i class="fas fa-sync-alt fa-fw"></i>
                    <span id="refresh-toggle">
                        Disable Refresh
                    </span>
                    <span class="small text-muted">(@ViewData["RefreshSpan"]s)</span>
                </a>
            </viewmodule>

            <a class="dropdown-item" asp-area="Misc" asp-controller="Home" asp-action="Index">
                <i class="fas fa-sign-out-alt fa-fw"></i> Back to main site
            </a>
        </div>
    </li>
</ul>
