@model IEnumerable<(int NewsId, string Title)>
@{
    ViewData["Title"] = "Home Page";
    ViewData["HasFooter"] = true;
}

<style>
    #super_banner {
        background-attachment: fixed;
        height: calc(-120px + 100vh);
        background-size: cover;
        background-image: url(/images/@(ViewData["Photo"]).filtered.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
    }

    #spirit {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        font-size: 4rem;
        align-self: center;
        text-align: center;
        filter: drop-shadow(0px 0px 50px black);
    }

    @@media(min-width: 768px) {
        #spirit li {
            display: inline;
            font-size: 6rem;
        }
    }

    #about_jlucpc {
        min-height: calc(-16.25em + 100vh);
    }

    @@media screen and (min-width:768px) {
        #about_jlucpc {
            min-height: calc(-17.75em + 100vh);
        }
    }
</style>

<div class="container-fluid" id="super_banner">
    <ul id="spirit">
        <li style="color:#6ba2e3">Think</li>
        <li style="color:#ffd51e">Create</li>
        <li style="color:#c13b2a">Solve</li>
    </ul>
</div>

<div class="container d-md-flex mt-4 mb-4 pl-4 pr-4" id="about_jlucpc">
    <div class="row align-self-md-center">
        <div class="col-12 col-md-6">
            <h1>About JLUCPC</h1>
            <p style="font-size:1.1em">
                The Jilin University Collegiate Programming Contest Team is the team of contestants for algorithmic programming contests like ICPC and CCPC.
                Teams of three, work to solve the most real-world problems, fostering collaboration, creativity, innovation, and the ability to perform under pressure.
                Through training and competition, teams challenge each other to raise the bar on the possible.
            </p>
            <a asp-controller="Team" asp-action="Index" class="btn btn-primary">MORE ABOUT JLUCPC</a>
        </div>
        <div class="col-12 col-md-1">
        </div>
        <div class="col-12 col-md-4">
            <h3 class="mt-3 mt-md-0">News center</h3>
            <ul style="list-style:none;padding-left:0">
                @foreach (var item in Model)
                {
                    <li><a asp-action="News" asp-route-nid="@item.NewsId">@item.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>
