@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_WindowLayout";
}

<div asp-validation-summary="All" class="text-danger"></div>

<p>Enter your email and we will send an email with password reset link if your email is verified in our system.</p>

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

@section Footer {
    <button asp-action="ForgotPassword" type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
