@{
    ViewData["Title"] = "Locked out";
}

<div class="container-fluid mt-4 mb-4 pl-4 pr-4">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
</div>