@{
    ViewData["Title"] = "Overview";
    ViewData["DisableAjaxRefresh"] = true;
}

<h2 class="mt-2">Dashboard interface</h2>

<div class="row equal mt-3">
    <div class="col-lg-4 col-md-5 col-sm-6 mt-3">
        <div class="card mb-3">
            <div class="card-header">
                Judging infrastructure
            </div>
            <div class="card-body">
                <ul>
                    <li><a>Configuration settings</a></li>
                    <li><a>Problems</a></li>
                    <li><a asp-controller="Executables" asp-action="List">Executables</a></li>
                    <li><a asp-controller="Judgehosts" asp-action="List">Judgehosts</a></li>
                    <li><a>Judgehost Restrictions</a></li>
                    <li><a asp-controller="InternalErrors" asp-action="List">Internal Errors</a></li>
                    <li><a asp-controller="Languages" asp-action="List">Languages</a></li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Users &amp; Teams
            </div>
            <div class="card-body">
                <ul>
                    <li><a>News</a></li>
                    <li><a asp-controller="Users" asp-action="List">Users</a></li>
                    <li><a>Contests</a></li>
                    <li><a>Problem Archive</a></li>
                    <li><a asp-controller="Categories" asp-action="List">Team Categories</a></li>
                    <li><a asp-controller="Affiliations" asp-action="List">Team Affiliations</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6 mt-3">

        <div class="card mb-3">
            <div class="card-header">
                Documentation
            </div>
            <div class="card-body">
                <ul>
                    <li><a>Auditlogs</a></li>
                    <!--
    <li>
        <a href="/domjudge/doc/judge/judge-manual.html?v=7.1.1">Judge manual</a>
        (also <a href="/domjudge/doc/judge/judge-manual.pdf?v=7.1.1">PDF</a>)
    </li>
    <li>
        <a href="/domjudge/doc/admin/admin-manual.html?v=7.1.1">Administrator manual</a>
        (also <a href="/domjudge/doc/admin/admin-manual.pdf?v=7.1.1 ">PDF</a>)
    </li>
    <li>
        <a href="/domjudge/doc/team/team-manual.pdf?v=7.1.1">Team manual</a>
        (PDF only)
    </li>-->
                    <li>
                        <a href="/api/doc/">API documentation</a><br />
                        See also the <a href="https://clics.ecs.baylor.edu/index.php/Contest_API">ICPC Contest API</a>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>