@{ Contest cont = ViewBag.Contest; }
<a class="navbar-brand hidden-sm-down" aria-label="AcmXylabFun" asp-controller="JuryMain" asp-action="Home">
    <span style="font-variant:small-caps;">@cont.ShortName</span>
</a>
