<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" active-act="Info" asp-controller="Public" asp-action="Info">
            <i class="fas fa-home"></i>
            About
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" active-act="Scoreboard" asp-controller="Public" asp-action="Scoreboard">
            <i class="fas fa-list-ol"></i>
            Scoreboard
        </a>
    </li>

    <li asp-viewdata-key="IsJury" class="nav-item">
        <a class="nav-link" asp-controller="Jury" asp-action="Home">
            <i class="fas fa-arrow-right"></i>
            Jury
        </a>
    </li>

    <li asp-viewdata-key="HasTeam" class="nav-item">
        <a class="nav-link" asp-controller="Team" asp-action="Home">
            <i class="fas fa-arrow-right"></i>
            Team
        </a>
    </li>
</ul>

<ul class="navbar-nav">
    <li class="ajax-loader-container">
        <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> @(User.GetUserName() ?? "tourist")
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item disabled" href="#">@(User.GetNickName() ?? "Tourist")</a>

            <a class="dropdown-item d-none" href="#" id="notify_disable">
                <i class="fas fa-bell-slash fa-fw"></i> Disable Notifications
            </a>

            <a class="dropdown-item d-none" href="#" id="notify_enable">
                <i class="fas fa-bell fa-fw"></i> Enable Notifications
            </a>

            <a asp-viewdata-key="RefreshSpan" class="dropdown-item" href="#" id="refresh-navitem">
                <i class="fas fa-sync-alt fa-fw"></i>
                <span id="refresh-toggle">
                    Disable Refresh
                </span>
                <span class="small text-muted">(@ViewData["RefreshSpan"]s)</span>
            </a>

            <a class="dropdown-item" asp-area="Misc" asp-controller="Home" asp-action="Index">
                <i class="fas fa-sign-out-alt fa-fw"></i> Back to main site
            </a>
        </div>
    </li>
</ul>
