<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" active-act="Home" asp-area="Contest" asp-controller="Team" asp-action="Home">
            <i class="fas fa-home d-md-none"></i>
            Home
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" active-act="Problemset" asp-area="Contest" asp-controller="Team" asp-action="Problemset">
            <i class="fas fa-book-open d-md-none"></i>
            Problemset
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" active-act="Scoreboard" asp-area="Contest" asp-controller="Team" asp-action="Scoreboard">
            <i class="fas fa-list-ol d-md-none"></i>
            Scoreboard
        </a>
    </li>
</ul>

<div id="submitbut">
    <a class="nav-link justify-content-center" data-toggle="ajaxWindow" data-target="submit" asp-action="Submit">
        <button type="button" class="btn btn-success btn-sm">
            <i class="fas fa-cloud-upload-alt"></i> Submit
        </button>
    </a>
</div>

<ul class="navbar-nav">
    <li class="ajax-loader-container">
        <div class="spinner-border spinner-border-sm ajax-loader" style="display: none;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </li>
</ul>
