@{
    ViewData["Title"] = "Access Denied";
}

<h1 id="teamwelcome" class="text-center">401 Unauthorized</h1>
<h2 id="contestnotstarted" class="text-center">This contest is not active for you (yet).</h2>
