.navbar + .container-fluid {
	min-height: calc(-16.25rem + 100vh);
}

.text-reset {
	color: inherit !important;
}

.cursor-pointer {
	cursor: pointer;
}

#problem-descibe p {
    font-size: 1.05em;
}

#problem-descibe p > code {
    font-size: 100%;
    background: rgba(27, 31, 35, 0.05);
    color: #24292e;
    padding: .2em .4em;
    border-radius: .2em;
}

.editormd-fullscreen {
	z-index: 1200;
}

.upload-progress {
    width: 100%;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

    .upload-progress > div {
        width: 0px;
        height: 100%;
        background-color: dodgerblue;
        transition: all .3s ease;
    }

.output_text {
	border-top: 1px dotted #C0C0C0;
	border-bottom: 1px dotted #C0C0C0;
	background-color: #FAFAFA;
	margin: 0;
	padding: 5px;
	white-space: pre-wrap;
	word-break: break-word;
}

.verdict-sm {
	margin: 1px;
}

.text-reset {
    color: inherit !important;
}

@media screen and (min-width:768px) {
	.navbar + .container-fluid {
		min-height: calc(-18rem + 100vh);
	}
}

/* Problem detail */
span.katex-src ~ .katex {
  font-size: 1.1em;
}

article {
  font-family: Times New Roman;
  font-size: 1.05em;
}

/* .navbar */
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1071;
  }
}

.navbar {
  min-height: 4rem;
  background-color: #333;
  box-shadow: 0px 0.5rem 1rem rgba(0,0,0,0.05), inset 0px -1px 0px rgba(0,0,0,0.1);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.modal {
  z-index: 1072;
}

.modal .popover, .modal .tooltip {
  z-index: 1073;
}

.modal-backdrop {
  z-index: 1071;
}

#notification-box {
  position: fixed;
  z-index: 1075;
  right: 0;
  bottom: 0;
}

.octicons-sync {
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='sync' fill='#ffffff'%3E%3Cpath d='M10.24,7.4 C10.43,8.68 10.04,10.02 9.04,11 C7.57,12.45 5.3,12.63 3.63,11.54 L4.8,10.4 L0.5,9.8 L1.1,14 L2.41,12.74 C4.77,14.48 8.11,14.31 10.25,12.2 C11.49,10.97 12.06,9.35 11.99,7.74 L10.24,7.4 L10.24,7.4 Z M2.96,5 C4.43,3.55 6.7,3.37 8.37,4.46 L7.2,5.6 L11.5,6.2 L10.9,2 L9.59,3.26 C7.23,1.52 3.89,1.69 1.74,3.8 C0.5,5.03 -0.06,6.65 0.01,8.26 L1.76,8.61 C1.57,7.33 1.96,5.98 2.96,5 L2.96,5 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 0.75em;
  height: 1em;
  margin-right: 0.25em;
  display: inline-block;
}

.sp-avatar {
  width: calc(100% - 3em);
  margin: 1.5em auto 1em auto;
  border: 0.5em solid #eeeeee;
  border-radius: 1em;
  max-width: 10em;
  display: block;
}

.sp-nav {
  width: calc(100% - 2.5em);
  margin: auto;
}

/* judge's .state */
.state {
  font-family: Tahoma;
  color: gray;
}

.state-secondary, .state-info {
  color: gray;
}

.state-ac, .state-success {
  color: green;
}

.state-wa, .state-pe, .state-danger {
  color: red;
}

.state-ce, .state-primary {
  color: blue;
}

.state-le, .state-re, .state-warning {
  color: darkorange;
}


h1.tit {
  font-family: Arial;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: center;
}

/* .dropdown-menu */
.dropdown-menu { font-size: .875rem; }
.dropdown-item.active { font-weight: 500; color: #fff; background-color: transparent; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); background-repeat: no-repeat; background-position: .4rem .6rem; background-size: .75rem .75rem; }



.extendable-area {
  height: 150px;
}

.extendable-area.extended {
  height: 400px;
}



/* .bd-footer */
.bd-footer { font-size: 85%; text-align: center; background-color: #f7f7f7; }
.bd-footer a { font-weight: 500; color: #495057; }
.bd-footer a:hover, .bd-footer a:focus { color: #007bff; }
.bd-footer p { margin-bottom: 0; }
.bd-footer-links { padding-left: 0; margin-bottom: 1rem; }
.bd-footer-links li { display: inline-block; }
.bd-footer-links li+li { margin-left: 1rem; }

@media all and (min-width:768px) {
	.bd-footer { text-align: left; }
}

/* .xys-card-list */
.xys-card-list .card { margin-top: 1em; }
.xys-card-list .card:first-child { margin-top: 2em; }
.xys-card-list .card:last-child { margin-bottom: 2em; }

/* .bd-toc */
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .bd-toc { position: sticky; top: 4rem; max-height: calc(100vh - 4rem); overflow-y: auto; }
}
.bd-toc { order: 2; padding-top: 1.5rem; padding-bottom: 1.5rem; font-size: .875rem; }
.section-nav { padding-left: 0; border-left: 1px solid #eee; }
.section-nav ul { padding-left: 1rem; }
.section-nav ul ul { display: none; }
.toc-entry { display: block; }
.toc-entry a { display: block; padding: .125rem 1.5rem; color: #99979c; }
.toc-entry a:hover { color: #007bff; text-decoration: none; }
.bd-toc-link { display: block; padding: .25rem 1.5rem; font-weight: 500; color: rgba(0,0,0,.65); }
.bd-toc-link:hover { color: rgba(0,0,0,.85); text-decoration: none; }
.bd-toc-item.active { margin-bottom: 1rem; }
.bd-toc-item.active:not(:first-child) { margin-top: 1rem; }
.bd-toc-item.active > .bd-toc-link { color: rgba(0,0,0,.85); }
.bd-toc-item.active > .bd-toc-link:hover { background-color: transparent; }
.bd-toc-item.active > .bd-sidenav { display: block; }
.bd-search { position: relative; padding: 1rem 15px; margin-right: -15px; margin-left: -15px; border-bottom: 1px solid rgba(0,0,0,.05); }
.bd-search .form-control:focus { border-color: #bfd4e3; box-shadow: 0 0 0 3px rgba(#bfd4e3, .25); }
.bd-search-docs-toggle { line-height: 1; color: $gray-900; }
.bd-search .btn-link { color: #000; transition: color .16s linear; }
.bd-search .btn-link:hover { color: #0056b3; }

/* .bd-sidebar */
.bd-sidebar { order: 0; /* background-color: #f5f2f9; */ border-bottom: 1px solid rgba(0,0,0,.1); }
@media (min-width: 768px) {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .bd-sidebar { position: sticky; top: 4rem; z-index: 1000; max-height: calc(100vh - 4rem); }
  }
  .bd-sidebar { border-right: 1px solid rgba(0,0,0,.1); }
}
@media (min-width:1200px) {
  .bd-sidebar { max-width: 320px; }
}
.bd-links { padding-top: 1rem; padding-bottom: 1rem; margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  @supports (position: sticky) {
    .bd-links { max-height: calc(100vh - 9rem); overflow-y: auto; }
  }
  .bd-links { display: block !important; }
}

.bd-sidenav { display: none; }
.bd-sidebar .nav > li > a { display: block; padding: .25rem 1.5rem; font-size: 90%; color: rgba(0,0,0,.65); }
.bd-sidebar .nav > li > a:hover { color: rgba(0,0,0,.85); text-decoration: none; background-color: transparent; }
.bd-sidebar .nav > .active > a, .bd-sidebar .nav > .active:hover > a { font-weight: 500; color: rgba(0,0,0,.85); background-color: transparent; }





/* .bd-doc */
.bd-title { margin-top: 1rem; margin-bottom: .5rem; font-weight: 300; }
@media (min-width:576px) {
  .bd-title { font-size: 3rem; }
}
.bd-lead { font-size: 1.125rem; font-weight: 300; }
@media (min-width:576px) {
  .bd-lead { max-width: 80%; margin-bottom: 1rem; font-size: 1.5rem; }
}

.bd-content h2 .anchorjs-link, .bd-content h4 .anchorjs-link { padding-left: 0.37em; font-weight: 400; color: #fff; transition: color .16s linear; }
.bd-content h2:hover .anchorjs-link, .bd-content h4:hover .anchorjs-link { color: rgba(0,123,255,.5); }
.bd-content h2:hover .anchorjs-link:hover, .bd-content h4:hover .anchorjs-link:hover { color: #007bff; text-decoration: none; }
.bd-content q { padding-right: 1rem; color: #777; }
.bd-content q::before, .bd-content q::after { content: ""; }

.bd-content { -ms-flex-order:1; order:1; }
.bd-content > h2[id], .bd-content > h3[id], .bd-content > h4[id] { pointer-events: none; }
.bd-content > h2[id] > a, .bd-content > h2[id] > div, .bd-content > h3[id] > a, .bd-content > h3[id] > div, .bd-content > h4[id] > a, .bd-content > h4[id] > div { pointer-events: auto; }
.bd-content > h2[id]::before, .bd-content > h3[id]::before, .bd-content > h4[id]::before { display: block; height: 6rem; margin-top: -6rem; visibility: hidden; content: ""; }
.bd-content > table { width: 100%; max-width: 100%; margin-bottom: 1rem; }
@media (max-width: 991px) {
  .bd-content > table { display: block; overflow-x: auto; -ms-overflow-style: -ms-autohiding-scrollbar; }
}
.bd-content > table > tbody > tr > td, .bd-content > table > tbody > tr > th, .bd-content > table > tfoot > tr > td, .bd-content > table > tfoot > tr > th, .bd-content > table > thead > tr > td, .bd-content > table > thead > tr > th { padding: .75rem; vertical-align: top; border:1px solid #e9ecef; }
.bd-content > table > tbody > tr > td > p:last-child, .bd-content > table > tbody > tr > th > p:last-child, .bd-content > table > tfoot > tr > td > p:last-child, .bd-content > table > tfoot > tr > th > p:last-child, .bd-content > table > thead > tr > td > p:last-child, .bd-content > table > thead > tr > th > p:last-child { margin-bottom: 0; }
.bd-content > table td:first-child > code { white-space: nowrap; }
.bd-content > h2:not(:first-child) { margin-top: 3rem; }
.bd-content > h3 { margin-top: 1.5rem; }
.bd-content > ol li, .bd-content > ul li { margin-bottom: .25rem; }
@media (min-width: 992px) {
  .bd-content > ol, .bd-content > p, .bd-content > ul { max-width: 80%; }
}
.bd-content > ol[class="row"] > li { padding-left: 0; }

@media (min-width: 768px) {
  .bd-chart { position: relative;  width: 50vw; height: 50vw; }
}

@media (min-width: 992px) {
  .bd-chart { position: relative;  width: 30vw; height: 30vw; }
}

.p-ind { text-indent: 2em; }

#problem-title { text-align: center; background-color: #f7f7f7; padding-top: 2em; padding-bottom: 1em; margin-bottom: 1.5em; box-shadow: inset 0px -1px 0px rgba(0,0,0,0.1); }
#problem-title ul { padding-left: 0; }
#problem-title h1 { color: #222; margin-bottom: 0.5em; font-family: Arial; }
#problem-title li { list-style: none; color: #666; font-family: Consolas; }
.samp .input, .samp .output { border: 1px solid #888888; }
.samp .output { margin-bottom: 1em; position: relative; top: -1px; }
.samp .output pre, .samp .input pre { background-color: #EFEFEF; line-height: 1.25em; margin: 0; padding: 0.25em; }
.samp .title { background-color: #FFFFFF; border-bottom: 1px solid #888888; font-family: arial; font-weight: bold; padding: 0.25em; }
